.network {
  align-items: flex-start;
  display: flex;
  margin-left: 9px;
  min-width: 12px;
}

.overlap-group-1 {
  height: 12px;
  position: relative;
  width: 12px;
}

.path-67 {
  height: 6px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 6px;
}

.path-68 {
  height: 12px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 12px;
}

