.group-2674 {
  align-items: center;
  display: flex;
  height: 57px;
  margin-left: 1.0px;
  margin-top: 73px;
  min-width: 249px;
  position: relative;
}

.rectangle-2323-3 {
  height: 55px;
  object-fit: cover;
  width: 65px;
}

