.group-3284 {
  align-items: flex-start;
  display: flex;
  margin-right: 1.0px;
  margin-top: 60px;
  min-width: 309px;
}

.overlap-group6 {
  border-radius: 30px;
  height: 83px;
  position: relative;
  width: 309px;
}

.group-3227 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: 0px 15px 30px #00000029;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 83px;
  padding: 13px 30px;
  position: absolute;
  top: 0;
  width: 309px;
}

.mangoes {
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 37px;
  margin-top: 1px;
  min-height: 25px;
  width: 87px;
}

.rectangle-3277 {
  border-radius: 10px;
  height: 55px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 65px;
}

