.group-3277 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: 0px 15px 30px #00000029;
  display: flex;
  height: 83px;
  margin-right: 1.0px;
  margin-top: 60px;
  min-width: 309px;
  padding: 11px 30px;
}

.rectangle-3274 {
  align-self: center;
  border-radius: 10px;
  height: 55px;
  object-fit: cover;
  width: 65px;
}

.flex-col-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 56px;
  position: relative;
  width: 164px;
}

.grapes {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 2.0px;
  min-height: 25px;
  width: 70px;
}

